@use "../../article-collection/article/mixins/" as article;
@use "../../article-collection/article/mixins/template" as *;
@use "../../../../../scss/abstracts/units/" as *;
@use "../../../../../scss/mixins/ui/" as ui;

.root {
	.audioPlayer {
		width: 100%;
	}

	.articles {
		display: flex;
		flex-direction: column;
		margin-top: $spacingXs;
		gap: $spacingXs;

		&.small {
			height: $screenHeightMd;
		}
		&.medium {
			height: $screenHeightLg;
		}
		&.large {
			height: $screenHeightXl;
		}

		@include ui.scrollYNoScroller();
		@include article.articleCardListItem(
			$contentWidthXs4,
			$contentWidthXs7,
			1,
			1
		);
		@media screen and (min-width: $screenWidthSm) {
			@include article.articleCardListItem(
				$contentWidthXs4,
				$contentWidthXs7,
				1,
				1
			);
		}
		@media screen and (min-width: $screenWidthMd) {
			@include article.articleCardListItem(
				$contentWidthXs4,
				$contentWidthXs7,
				1,
				1
			);
		}
	}
}

.template {
	@include templateBase;
	width: 100%;
	height: $contentHeightXs;
	flex-direction: row;
	gap: $spacingXs;

	&::before {
		width: $contentHeightXs;
		height: $contentHeightXs;
		aspect-ratio: 1/1;
	}

	&::after {
		@include audioDisplayLines($spacingXxs);
		flex: 1;
	}
}

.articleTemplate {
	@include templateBase;
	width: 100%;
	height: $contentHeightXs4;
	flex-direction: row;
	gap: $spacingXs;

	&::before {
		width: $contentHeightXs4;
		height: $contentHeightXs4;
		aspect-ratio: 1/1;
	}

	&::after {
		@include audioDisplayLines($spacingXxs);
		flex: 1;
	}
}
