@use "../../../scss/abstracts/colours/" as *;
@use "../../../scss/abstracts/units/" as *;

.form {
	.header {
		padding: $spacingXxxl 0 $spacingXl;
	}

	.inputContainer {
		display: flex;
		flex-direction: column;
		gap: $spacingXs;
	}

	.field {
		display: flex;
		flex-direction: column;

		gap: $spacingXs;

		border: none;
		padding: 0;
		margin: 0;
		padding-bottom: $spacingXl;

		.label {
		}
		.input {
			width: 100%;
			padding: $spacingXs;
			background-color: $whiteSmoke;
			border: none;
			border-radius: $spacingXxs;
			font-size: $text_3;

			&:hover,
			&:focus {
				background-color: $gainsboro;
				border: none;
			}
		}

		.warn {
			opacity: 0;
			color: $error;

			&.showWarning {
				opacity: 1;
			}
		}
	}
}
