@use "../../../../scss/mixins/ui/" as ui;

.root {
	// Bluesky max plus a bit?
	max-width: 600px;
	width: 100%;
	align-self: center;

	height: 100%;
	max-height: 1200px;
	flex: 1;
	@include ui.scrollYNoScroller();
}
