@use "../../../../scss/mixins/text/" as textMixins;
@use "../../../../scss/abstracts/colours/" as *;
@use "../../../../scss/abstracts/units/" as *;

.audioPlayer {
	--bar-bg: #dcdcdc;
	--seek-before-handle: #696969;
	--handle: #696969;
	--handle-selcted: #696969;

	.progressBarContainer {
		padding: $rem_3 $rem_5;
		background-color: $whiterSmoke;
		border: 4px solid $whiteSmoke;
		border-radius: $rem_1;
	}
	.controls {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%;
		background-color: $whiteSmoke;

		.playerControls {
			display: flex;
			align-items: center;
			// width: 100%;
			padding: $rem_1 $rem_2;
		}

		.controlsSecondary {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			// 	padding: $rem_1 $rem_2;
			.speakerContainer {
				display: flex;
				align-items: center;
			}
		}

		.volumeButton {
			// padding-right: 1rem;
		}

		.volumeBg {
			padding-left: 0rem;
			cursor: unset;
		}
		.volumeBg:hover {
			background-color: $whiteSmoke;
		}
	}

	.timeBg {
		cursor: unset;
		&:hover {
			background-color: $whiteSmoke;
		}

		// .time {
		// 	@include textMixins.maxLines(1);
		// }
	}

	input[type="range"] {
		appearance: none;
		background: var(--bar-bg);
		border-radius: $rem_2;
		position: relative;
		width: 100%;
		height: $rem_1;
		outline: none;
	}

	// safari
	input[type="range"]::-webkit-slider-runnable-track {
		background: var(--bar-bg);
		border-radius: $rem_2;
		position: relative;
		width: 100%;
		height: $rem_1;
		outline: none;
	}

	// firefox
	input[type="range"]::-moz-range-track {
		background: var(--bar-bg);
		border-radius: $rem_2;
		position: relative;
		width: 100%;
		height: $rem_1;
		outline: none;
	}

	input[type="range"]::-moz-focus-outer {
		border: 0;
	}

	// progress bar chrome & Safari
	input[type="range"]::before {
		content: "";
		height: $rem_1;
		background: var(--seek-before-handle);
		border-top-left-radius: $rem_2;
		border-bottom-left-radius: $rem_2;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		cursor: pointer;
	}

	.progressBar {
		--playback-width: 0;
	}

	.progressBar::before {
		width: var(--playback-width);
	}

	.volume {
		--volume-width: 50%;
	}

	.volume::before {
		width: var(--volume-width);
	}

	input[type="range"]::-moz-range-progress {
		background: var(--seek-before-handle);
		border-top-left-radius: $rem_2;
		border-bottom-left-radius: $rem_2;
		position: absolute;
		height: $rem_1;
	}

	// handle
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: $rem_3;
		height: $rem_3;
		background: var(--handle);
		border-radius: 50%;
		border: none;
		cursor: pointer;
		position: relative;
		margin: -3px 0 0 0;
		z-index: 3;
		box-sizing: border-box;
	}

	input[type="range"]:active::-webkit-slider-thumb {
		transform: scale(1.2);
		background: var(--handle-selcted);
	}

	input[type="range"]::-moz-range-thumb {
		width: $rem_3;
		height: $rem_3;
		background: var(--handle);
		border-radius: 50%;
		border: transparent;
		cursor: pointer;
		position: relative;
		z-index: 3;
		box-sizing: border-box;
	}

	input[type="range"]:active::-moz-range-thumb {
		transform: scale(1.2);
		background: var(--handle-selcted);
	}

	@media screen and (min-width: $screenWidthSm) {
		.controls {
			flex-direction: row;
		}
	}
}
