$shadowLight0: hsla(0, 0%, 5%, 0.05);
$shadowLight1: hsla(0, 0%, 5%, 0.1);
$shadowLight2: hsla(0, 0%, 5%, 0.2);
$shadowLight3: hsla(0, 0%, 5%, 0.3);

$background-main: hsl(0, 0%, 98%);
$background: hsl(0, 0%, 86%);
$background-light: hsl(0, 0%, 96%);
$background-dark: hsl(0, 0%, 86%);

$error-strong: hsl(0, 100%, 50%);
$error: hsl(0, 65%, 50%);

$cms-primary: rgb(92, 92, 250);

$cms-primary-light: rgba(59, 130, 246, 0.05);
$cms-secondary-light: rgba(147, 51, 234, 0.05);

$gradient: linear-gradient(0deg, var($shadowLight2), var($shadowLight1));
