$black: #000000;
$white: #ffffff;

$darkestGrey: #282828;
$darkGrey: #505050;
$dimGrey: #696969;
$grey: #808080;
$lightGrey: #d3d3d3;
$silver: #c0c0c0;
$gainsboro: #dcdcdc;
$whiteSmoke: #f5f5f5;
$whiterSmoke: #fafafa;

$backgroundMain: $whiteSmoke;

$shadowLight0: #28282805;
$shadowLight1: #28282810;
$shadowLight2: #28282820;
$shadowLight3: #28282830;
$shadowLight4: #28282840;
$shadowLight5: #28282850;

$error: #ff0000;
$warning: #ffcc00;
$success: #00ff00;

$background: hsl(0, 0%, 90%);
$background-light: hsl(0, 0%, 95%);
$background-dark: hsl(0, 0%, 80%);

$border: hsl(0, 0%, 70%);
$border-light: hsl(0, 0%, 85%);

$gradient: linear-gradient(0deg, var($background-dark), var($background-light));
