@use "../colours/" as colours;
@use "../units/" as *;

$divider: 1px solid colours.$shadowLight2;

$page_marginSm: 2.5%;
$page_marginMd: 5%;
$page_marginLg: 7.5%;
$page_marginXl: 10%;
$page_marginXxl: 12.5%;
