@use "../../../scss/abstracts/font" as text;
@use "../../../scss/abstracts/colours" as colours;
@use "../../../scss/abstracts/units" as *;

.root {
	container: profile-container / inline-size;
	display: flex;

	.title {
		// margin: $rem_4 $rem_0 $rem_0;
		font-size: text.$component-title-sm;
		font-family: text.$text-font;
		color: colours.$titleColourDark;

		// we cannot use variables with container queries
		// I think this is the case / follow up on this
		@container profile-container (min-width: 640px) {
			font-size: text.$component-title-md;
		}

		@container profile-container (min-width: 1024px) {
			font-size: text.$component-title-lg;
		}
	}
}
