@use "../../../scss/abstracts/font" as *;
@use "../../../scss/abstracts/colours" as colours;
@use "../../../scss/abstracts/units" as *;

.root {
	container: profile-container / inline-size;
	display: flex;

	.title {
		font: $titleXs;
		color: colours.$titleColourDark;

		// we cannot use variables with container queries
		// I think this is the case / follow up on this
		@container profile-container (min-width: 640px) {
			font: $titleSm;
		}

		@container profile-container (min-width: 1024px) {
			font: $titleMd;
		}
	}
}
