@use "../../article/mixins/" as article;
@use "../../../../../../scss/abstracts/units/" as *;

.root {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: $rem_5;

	@include article.articleCardLeftRight($rem_21, $rem_12);

	:first-child {
		@include article.articleCardTopDown($rem_25, $rem_12);
	}

	@media screen and (min-width: $screenWidthLg) {
		grid-template-columns: repeat(3, 1fr);

		:first-child {
			grid-column: 1 / 3;
			grid-row: 1 / 3;
			@include article.articleCardTopDown($rem_21, $rem_12);
		}

		:nth-child(2),
		:nth-child(3) {
			@include article.articleCardTopDown($rem_21, $rem_12);
		}

		:nth-child(4),
		:nth-child(5) {
			grid-column: 1 / 4;
			@include article.articleCardLeftRight($rem_21, $rem_12);
		}
	}

	@media screen and (min-width: $screenWidthXl) {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);

		@include article.articleCardTopDown($rem_16, $rem_10);

		:first-child {
			grid-row: 1 / 3;
			grid-column: 1 / 3;
			@include article.articleCardTopDown($rem_21, $rem_12);
		}

		:nth-child(4),
		:nth-child(5) {
			grid-column: unset;
		}
	}
}
