@use "../../../../scss/abstracts/units/" as units;

.root {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: units.$rem_5;
}

.root-column {
	// background-color: blue;
}

.root-row {
	// background-color: green;
}
