@use "../../../scss/abstracts/units/" as *;
@use "../../../scss/mixins/edit" as editMixins;

.form {
	display: flex;
	flex-direction: column;
	gap: $spacingLg;

	@include editMixins.form();

	.buttons {
		display: flex;
		gap: $spacingMd;

		> button {
			flex: 1;
		}
	}
}
