@use "../../scss/abstracts/units" as *;
@use "../../scss/abstracts/colours/" as *;
@use "../../scss/abstracts/font/" as *;
@use "../../scss/mixins/edit" as editMixins;

.root {
	display: flex;
	flex-direction: column;
	gap: $spacingMd;

	.title {
		font: $titleXl3;
		padding-top: $spacingMd;
	}

	@include editMixins.form();
}
