@use "../../scss/abstracts/units" as *;
@use "../../scss/abstracts/colours/" as *;
@use "../../scss/abstracts/font/" as *;

.root {
	display: flex;
	flex-direction: column;
	gap: $spacingMd;

	.title {
		font: $titleXl3;
		padding-top: $spacingMd;
	}

	fieldset {
		display: flex;
		flex-direction: column;
		border: none;
		padding: 0;
		margin: 0;
	}

	label {
		padding-bottom: $spacingXs;
	}

	input {
		width: 100%;
		padding: $spacingXs;
		background-color: $whiteSmoke;
		border: none;
		border-radius: $spacingXxs;
		font: $textMd;

		&:hover,
		&:focus {
			background-color: $gainsboro;
			border: none;
		}
	}

	select {
		width: 100%;
		padding: $spacingXs;
		border: none;
		border-radius: $spacingXxs;
		background-color: $whiteSmoke;

		&:hover,
		&:focus {
			background-color: $gainsboro;
			option {
				background-color: $whiteSmoke;
			}
		}
	}
}
