@use "../../../../scss/abstracts/units" as *;
@use "../../../../scss/abstracts/colours/" as *;
@use "../../../../scss/abstracts/font/" as *;

// this is like a generic form style - could be reused elsewhere

.root {
	padding-top: $spacingMd;
	display: flex;
	flex-direction: column;
	gap: $spacingXl;

	.title {
		font: $titleXl3;
		padding-top: $spacingMd;
	}
}
