@use "../../../../scss/abstracts/units" as *;
@use "../../../../scss/abstracts/colours/" as *;
@use "../../../../scss/abstracts/font/" as *;

// this is like a generic form style - could be reused elsewhere

.root {
	display: flex;
	flex-direction: column;
	gap: $spacingMd;

	.title {
		font: $titleXl3;
		padding-top: $spacingMd;
	}

	fieldset {
		display: flex;
		flex-direction: column;
		border: none;
		padding: 0;
		margin: 0;
	}

	label {
		padding-bottom: $spacingXs;
	}

	input {
		width: 100%;
		padding: $spacingXs;
		background-color: $background-light;
		border: none;
		border-radius: $spacingXxs;
		font: $textMd;

		&:hover,
		&:focus {
			background-color: $shadowLight1;
			border: none;
		}
	}

	select {
		width: 100%;
		padding: $spacingXs;
		border: none;
		border-radius: $spacingXxs;
		background-color: $background-light;

		&:hover,
		&:focus {
			background-color: $shadowLight1;
			option {
				background-color: $background-light;
			}
		}
	}
}
