@use "../../../scss/abstracts/colours/" as *;
@use "../../../scss/abstracts/units/" as *;
@use "../../../scss/abstracts/font/" as *;

.menuButton {
	border: none;
	background-color: unset;
	cursor: pointer;
	padding: $spacingXs;
	border-radius: 50%;

	.logo {
		font-size: $title-md;
		color: $textColourDark;
	}

	&:hover {
		background-color: $shadowLight1;
	}
}
