@use "../../../scss/abstracts/colours/" as colours;

.menuButton {
	border: none;
	background-color: unset;
	cursor: pointer;

	.logo {
		font-size: 1.5rem;
		color: colours.$textColourDark;
	}

	:hover {
		background-color: colours.$shadowLight1;
	}
}

.menu {
	width: 200px;
	padding: 10px;
	margin-top: 3rem;
	margin-left: 90%;

	right: 1rem;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 0 1em colours.$shadowLight3;

	& > * {
		margin: 0 0 0.5rem 0;
	}

	::backdrop {
		background: colours.$shadowLight2;
	}
}
