@use "../../../../scss/abstracts/units/" as *;
@use "../../../../scss/abstracts/colours/" as *;

.root {
	display: flex;
	gap: $rem_4;
	padding: $rem_1;

	.inputs {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: $rem_2;

		.input {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}

	.controls {
		display: flex;
		gap: $rem_2;
	}

	.icon {
		display: flex;
		color: $darkGrey;
		font-size: $rem_5;
		cursor: pointer;
		padding: $rem_2;
		border-radius: 50%;

		&:hover,
		&:focus {
			background-color: $shadowLight1;
		}

		> * {
			margin: auto;
		}
	}

	// other way around
	@media (max-width: $screenWidthLg) {
		flex-direction: column-reverse;
		align-items: end;
		gap: $rem_2;

		.inputs {
			flex-direction: column;
		}
	}
}
