@use "../../../../../../scss/abstracts/units" as *;

.root {
	.masonryGrid {
		columns: var(--column-width);
	}
	.masonryTemplate {
		columns: var(--column-width);

		li {
			margin-bottom: $spacingMd;
			break-inside: avoid;
			page-break-inside: avoid; // Fallback for older browsers
		}
	}
}
