@use "../../../../scss/abstracts/units" as *;
@use "../../../../scss/abstracts/ui/" as *;
@use "../../../../scss/abstracts/colours/" as *;

.root {
	display: flex;
	flex-direction: column;
	gap: $spacingMd;

	// border: 1px solid #ccc;
	box-shadow: 0 0 $spacingXxs $shadowLight3;

	margin-top: $spacingMd;
	padding: $spacingMd;

	.title {
	}

	.input {
		display: flex;
		flex-direction: column;
		gap: $spacingXs;

		.icons {
			display: flex;
			gap: $spacingXs;
			align-items: center;
			align-self: end;
		}

		@media screen and (max-width: $screenWidthMd) {
			flex-direction: column-reverse;
		}
	}
	.input:not(:last-of-type) {
		border-bottom: $divider;
		padding-bottom: $spacingMd;
	}
}
