@use "../../../../scss/abstracts/units" as *;
@use "../../../../scss/abstracts/ui/" as *;
@use "../../../../scss/abstracts/colours/" as *;

.root {
	display: flex;
	flex-direction: column;
	gap: $spacingMd;

	box-shadow: 0 0 $spacingXxs $shadowLight3;

	margin-top: $spacingMd;
	padding: $spacingMd;

	.title {
	}

	.input {
		display: flex;
		flex-direction: column;
		gap: $spacingXs;

		.inputContainer {
			display: grid;
			grid-template-rows: 1fr;
			// have scss mixin or abstract for transitions
			transition: grid-template-rows 750ms ease-in-out;

			&.collapsed {
				grid-template-rows: 0fr;

				& > div {
					overflow: hidden;
				}
			}
		}

		.controls {
			display: flex;
			justify-content: flex-end;
			margin-bottom: $spacingXs;
		}

		.icons {
			display: flex;
			gap: $spacingXs;
			align-items: center;
			justify-content: flex-end;

			.collapsible {
				display: flex;
				align-items: center;
				width: 100%;
			}
		}

		@media screen and (max-width: $screenWidthMd) {
			flex-direction: column-reverse;
		}
	}
	.input:not(:last-of-type) {
		border-bottom: $divider;
		padding-bottom: $spacingMd;
	}
}
