$rem_0: 0;
$rem_1: 0.25rem;
$rem_2: 0.5rem;
$rem_3: 0.75rem;
$rem_4: 1rem;
$rem_5: 1.5rem;
$rem_6: 2rem;
$rem_7: 3rem;
$rem_8: 4rem;
$rem_9: 5rem;
$rem_10: 6rem;
$rem_11: 8rem;
$rem_12: 10rem;
$rem_13: 12rem;
$rem_14: 16rem;
$rem_15: 20rem;
$rem_16: 24rem;
$rem_17: 28rem;
$rem_18: 32rem;
$rem_19: 36rem;
$rem_20: 40rem;
$rem_21: 48rem;
$rem_22: 56rem;
$rem_23: 64rem;
$rem_24: 72rem;
$rem_25: 80rem;
$rem_26: 96rem;
$rem_27: 112rem;
$rem_28: 128rem;
$rem_29: 144rem;
$rem_30: 160rem;
$rem_31: 192rem;
$rem_32: 224rem;
$rem_33: 256rem;
$rem_34: 288rem;
$rem_35: 320rem;
$rem_36: 384rem;
$rem_37: 448rem;
$rem_38: 512rem;
$rem_39: 576rem;
$rem_40: 640rem;
$rem_41: 768rem;
$rem_42: 896rem;
$rem_43: 1024rem;
$rem_44: 1152rem;
$rem_45: 1280rem;

$px_0: 0;
$px_1: 0.25px;
$px_2: 0.5px;
$px_3: 0.75px;
$px_4: 1px;
$px_5: 1.5px;
$px_6: 2px;
$px_7: 3px;
$px_8: 4px;
$px_9: 5px;
$px_10: 6px;
$px_11: 8px;
$px_12: 10px;
$px_13: 12px;
$px_14: 16px;
$px_15: 20px;
$px_16: 24px;
$px_17: 28px;
$px_18: 32px;
$px_19: 36px;
$px_20: 40px;
$px_21: 48px;
$px_22: 56px;
$px_23: 64px;
$px_24: 72px;
$px_25: 80px;
$px_26: 96px;
$px_27: 112px;
$px_28: 128px;
$px_29: 144px;
$px_30: 160px;
$px_31: 192px;
$px_32: 224px;
$px_33: 256px;
$px_34: 288px;
$px_35: 320px;
$px_36: 384px;
$px_37: 448px;
$px_38: 512px;
$px_39: 576px;
$px_40: 640px;
$px_41: 768px;
$px_42: 896px;
$px_43: 1024px;
$px_44: 1152px;
$px_45: 1280px;

$screenWidthSm: 640px;
$screenWidthMd: 768px;
$screenWidthLg: 1024px;
$screenWidthXl: 1280px;
$screenWidthXxl: 1536px;

$screenHeightSm: 360px;
$screenHeightMd: 480px;
$screenHeightLg: 600px;
$screenHeightXl: 720px;
$screenHeightXxl: 840px;

$spacingXxs: 0.125rem;
$spacingXs: 0.25rem;
$spacingSm: 0.5rem;
$spacingMd: 1rem;
$spacingLg: 1.5rem;
$spacingXl: 2rem;
$spacingXxl: 5rem;

$text_0: 0.625rem;
$text_1: 0.75rem;
$text_2: 0.875rem;
$text_3: 1rem;
$text_4: 1.125rem;
$text_5: 1.25rem;
$text_6: 1.5rem;
$text_7: 1.75rem;
$text_8: 2rem;
$text_9: 2.25rem;
$text_10: 2.5rem;
$text_11: 3rem;
$text_12: 3.5rem;
$text_13: 4rem;
$text_14: 4.5rem;
$text_15: 5rem;
$text_16: 5.5rem;
$text_17: 6rem;

$containerWidthXxs: 180px;
$containerWidthXs: 240px;
$containerWidthSm: 320px;
$containerWidthMd: 640px;
$containerWidthLg: 768px;
$containerWidthXl: 1024px;
$containerWidthXxl: 1280px;

$containerHeightXxs: 240px;
$containerHeightXs: 360px;
$containerHeightSm: 480px;
$containerHeightMd: 600px;
$containerHeightLg: 720px;
$containerHeightXl: 840px;
$containerHeightXxl: 960px;
