$rem_0: 0;
$rem_1: 0.25rem;
$rem_2: 0.5rem;
$rem_3: 0.75rem;
$rem_4: 1rem;
$rem_5: 1.5rem;
$rem_6: 2rem;
$rem_7: 3rem;
$rem_8: 4rem;
$rem_9: 5rem;
$rem_10: 6rem;
$rem_11: 8rem;
$rem_12: 10rem;
$rem_13: 12rem;
$rem_14: 16rem;
$rem_15: 20rem;
$rem_16: 24rem;
$rem_17: 28rem;
$rem_18: 32rem;
$rem_19: 36rem;
$rem_20: 40rem;
$rem_21: 48rem;
$rem_22: 56rem;
$rem_23: 64rem;
$rem_24: 72rem;
$rem_25: 80rem;
$rem_26: 96rem;
$rem_27: 112rem;
$rem_28: 128rem;
$rem_29: 144rem;
$rem_30: 160rem;
$rem_31: 192rem;
$rem_32: 224rem;
$rem_33: 256rem;
$rem_34: 288rem;
$rem_35: 320rem;
$rem_36: 384rem;
$rem_37: 448rem;
$rem_38: 512rem;
$rem_39: 576rem;
$rem_40: 640rem;
$rem_41: 768rem;
$rem_42: 896rem;
$rem_43: 1024rem;
$rem_44: 1152rem;
$rem_45: 1280rem;

$screenWidthSm: 640px;
$screenWidthMd: 768px;
$screenWidthLg: 1024px;
$screenWidthXl: 1280px;
$screenWidthXxl: 1536px;

$screenHeightSm: 360px;
$screenHeightMd: 480px;
$screenHeightLg: 600px;
$screenHeightXl: 720px;
$screenHeightXxl: 840px;

$spacingXxs: 0.25rem;
$spacingXs: 0.5rem;
$spacingSm: 0.75rem;
$spacingMd: 1rem;
$spacingLg: 1.25rem;
$spacingXl: 1.5rem;
$spacingXxl: 1.75rem;
$spacingXxxl: 2rem;

$text_0: 0.625rem;
$text_1: 0.75rem;
$text_2: 0.875rem;
$text_3: 1rem;
$text_4: 1.125rem;
$text_5: 1.25rem;
$text_6: 1.5rem;
$text_7: 1.75rem;
$text_8: 2rem;
$text_9: 2.25rem;
$text_10: 2.5rem;
$text_11: 3rem;
$text_12: 3.5rem;
$text_13: 4rem;
$text_14: 4.5rem;
$text_15: 5rem;
$text_16: 5.5rem;
$text_17: 6rem;

$containerWidthXxs: 11.25rem;
$containerWidthXs: 15rem;
$containerWidthSm: 20rem;
$containerWidthMd: 40rem;
$containerWidthLg: 48rem;
$containerWidthXl: 64rem;
$containerWidthXxl: 80rem;

$containerHeightXxs: 15rem;
$containerHeightXs: 22.5rem;
$containerHeightSm: 30rem;
$containerHeightMd: 37.5rem;
$containerHeightLg: 45rem;
$containerHeightXl: 52.5rem;
$containerHeightXxl: 60rem;

$contentHeightXs4: 2rem;
$contentHeightXs3: 3rem;
$contentHeightXs2: 6rem;
$contentHeightXs: 9rem;
$contentHeightSm: 12rem;
$contentHeightMd: 15rem;
$contentHeightLg: 18rem;
$contentHeightXl: 21rem;
$contentHeightXl2: 24rem;
$contentHeightXl3: 27rem;
$contentHeightXl4: 30rem;
$contentHeightXl5: 36rem;
$contentHeightXl5: 48rem;
$contentHeightXl5: 60rem;

$contentWidthXs4: 2rem;
$contentWidthXs3: 3rem;
$contentWidthXs2: 6rem;
$contentWidthXs: 9rem;
$contentWidthSm: 12rem;
$contentWidthMd: 15rem;
$contentWidthLg: 18rem;
$contentWidthXl: 21rem;
$contentWidthXl2: 24rem;
$contentWidthXl3: 27rem;
$contentWidthXl4: 30rem;
$contentWidthXl5: 36rem;
$contentWidthXl6: 48rem;
$contentWidthXl7: 60rem;
