@use "../../../../scss/abstracts/units/" as *;
@use "../../../../scss/abstracts/colours/" as *;
@use "../../../../scss/abstracts/font/" as *;

.root {
	.input {
		display: flex;

		@media screen and (max-width: $screenWidthMd) {
			justify-content: center;
			align-items: center;
		}
	}

	.container {
		display: flex;
		align-items: center;
		gap: $spacingSm;
		cursor: pointer;
		font-size: $text-lg;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		input {
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}

		.checkmark {
			display: flex;
			align-items: center;
			justify-content: center;

			height: $spacingXxxl;
			width: $spacingXxxl;
			background-color: $background-light;
			color: $text;

			.icon {
				display: none;
			}
		}

		&:hover .checkmark {
			background-color: $shadowLight1;
		}

		&:has(input:checked) {
			.checkmark {
				background-color: $background-light;
				.icon {
					display: block;
				}
			}
		}
	}
}
