@use "../../../../scss/abstracts/colours/" as *;
@use "../../../../scss/abstracts/units/" as *;

.dropdown {
	position: absolute;
	top: $contentHeightXs5;
	right: 5%;
	width: $contentWidthLg;
	background-color: $gainsboro;
	border-radius: $spacingXxs;
	box-shadow: $shadowLight1;
	padding: $spacingMd;
	overflow: hidden;
	opacity: 0;
	display: none;

	&.open {
		display: block;
		opacity: 1;
		pointer-events: all;
	}

	.dropDownItem {
		height: $contentHeightXs5;
		display: flex;
		align-items: center;
		border-radius: $spacingXxs;
		padding: $spacingMd;
		gap: $spacingXs;

		background-color: $whiteSmoke;

		&:hover {
			background-color: $gainsboro;
			border: 1px solid $whiteSmoke;
			border-top: none;
		}

		.rightIcon {
			margin-left: auto;
		}
	}

	.profile {
		display: flex;
		align-items: center;
		gap: $spacingXs;
		height: $contentHeightXs5;
		background-color: $gainsboro;
		border: 1px solid $whiteSmoke;
		.profileImage {
			width: $contentWidthXs5;
			height: $contentHeightXs5;
		}
	}
}
