@use "../../../scss/abstracts/units/" as *;
@use "../../../scss/abstracts/font/" as *;
@use "../../../scss/abstracts/colours/" as *;

.page {
	display: flex;
	flex-direction: column;
	gap: $spacingXl;
	margin-top: $spacingXl;

	.title {
		font: $titleXl3;
		color: $text-sharp;
		border-left: 3px solid $cms-primary;
		padding-left: $spacingMd;
	}
}
