@use "../../../../../../scss/mixins/text/" as textMixins;
@use "../../../../../../scss/abstracts/units/" as *;
@use "../../../../../../scss/abstracts/colours/" as colours;
@use "../../../../../../scss/abstracts/font/" as *;

@use "./base" as base;

// this is a scroller - we wouldn't need to modify width
// width and size can always be what we set it
// For the relevant screen size - it is not dynamically responsive
@mixin articleCardTopDown($maxWidth, $minWidth) {
	.article {
		@include base.article();
		flex-direction: column;

		max-width: $maxWidth;
		min-width: $minWidth;
		width: 100%;

		aspect-ratio: 16/18;

		.image {
			@include base.image($maxWidth, $minWidth);
			aspect-ratio: 16/9;
		}

		.contentContainer {
			@include base.contentContainer($maxWidth, $minWidth);
			// aspect ratio is applied after padding etc...
			aspect-ratio: 16/9;

			.textContainer {
				@include base.textContainer();

				& {
					gap: $spacingXxxs;

					.title,
					.description {
						margin: 0 0;
					}

					@container content-container (min-width: 20rem) {
						gap: $spacingXxs;
					}

					@container content-container (min-width: 24rem) {
						gap: $spacingXs;
					}
				}
			}

			.meta {
				@include base.meta();
			}
		}
	}

	.template {
		max-width: $maxWidth;
		min-width: $minWidth;
		width: 100%;

		aspect-ratio: 16/18;

		display: flex;
		flex-direction: column;
		background: white;

		&::before {
			content: "";
			width: 100%;
			aspect-ratio: 16/9;
			background: #e0e0e0;
		}

		&::after {
			content: "";
			display: block;
			flex: 1;
			padding: $spacingXs;
			background: // Title - 2 lines
				linear-gradient(#d0d0d0 0.8rem, transparent 0.8rem) 0 0 / 100% 0.8rem
					no-repeat,
				linear-gradient(#d0d0d0 0.8rem, transparent 0.8rem) 0 1.2rem / 75%
					0.8rem no-repeat,
				// Description - 3 lines
				linear-gradient(#e5e5e5 0.6rem, transparent 0.6rem) 0 2.8rem / 100%
					0.6rem no-repeat,
				linear-gradient(#e5e5e5 0.6rem, transparent 0.6rem) 0 3.8rem / 95%
					0.6rem no-repeat,
				linear-gradient(#e5e5e5 0.6rem, transparent 0.6rem) 0 4.8rem / 85%
					0.6rem no-repeat,
				// Meta info - small line at bottom
				linear-gradient(#d0d0d0 0.5rem, transparent 0.5rem) 0 bottom / 40%
					0.5rem no-repeat;
		}
	}
}

// ///////////// BUG //////////////// //
// I think we need to actually apply a class
// to the content container of leftToRight
// I think that's the 'bleeding' css issue
// We are applying the correct styles
// Then potentially the incorrect
// Then fixing
// Fix With
// .article {
// 	all: initial;
// 	* {
// 		all: unset;
// 	}
// }
// Before using mixin to populate .article
/////////////////////////////////////////
@mixin articleCardLeftRight(
	$maxWidth: $contentWidthMd,
	$minWidth: $contentWidthMd
) {
	.article {
		@include base.article();

		aspect-ratio: 32/9;

		.image {
			@include base.image($maxWidth, $minWidth);
			aspect-ratio: 16/9;
		}

		.contentContainer {
			@include base.contentContainer($maxWidth, $minWidth);

			// aspect ratio is applied after padding etc...
			aspect-ratio: 16/9;

			.textContainer {
				@include base.textContainer();
				& {
					margin-top: 0;
					gap: 0;

					.title {
						margin-bottom: 0;
					}

					.title,
					.description {
						margin-left: $spacingXxs;
						margin-right: 0;
					}

					@container content-container (min-width: 16rem) {
						gap: $spacingXxs;

						.title,
						.description {
							margin-left: $spacingXs;
						}
					}

					@container content-container (min-width: 20rem) {
						gap: $spacingXs;

						.title,
						.description {
							margin-left: $spacingXs;
						}
					}

					@container content-container (min-width: 24rem) {
						gap: $spacingXs;

						.title,
						.description {
							margin-left: $spacingSm;
						}
					}
				}
			}

			.meta {
				@include base.meta();
				& {
					margin: 0;
					margin-left: $spacingXxs;
					margin-right: $spacingXxs;

					@container content-container (min-width: 16rem) {
						margin-left: $spacingXs;
					}

					@container content-container (min-width: 24rem) {
						margin-left: $spacingSm;
					}
				}
			}
		}
	}

	.template {
		max-width: $maxWidth;
		min-width: $minWidth;
		width: 100%;

		aspect-ratio: 32/9;

		display: flex;
		flex-direction: row; // Side by side instead of column
		background: white;

		// Image placeholder - takes up 50% width on the left
		&::before {
			content: "";
			width: 50%;
			aspect-ratio: 16/9;
			background: #e0e0e0;
		}

		// Content area placeholder - takes up 50% width on the right
		&::after {
			content: "";
			display: block;
			width: 50%;
			padding: $spacingXs;
			background: 
            // Title - 2 lines
				linear-gradient(#d0d0d0 0.8rem, transparent 0.8rem) 0 0 / 100% 0.8rem
					no-repeat,
				linear-gradient(#d0d0d0 0.8rem, transparent 0.8rem) 0 1.2rem / 75%
					0.8rem no-repeat,
				// Description - 3 lines
				linear-gradient(#e5e5e5 0.6rem, transparent 0.6rem) 0 2.8rem / 100%
					0.6rem no-repeat,
				linear-gradient(#e5e5e5 0.6rem, transparent 0.6rem) 0 3.8rem / 95%
					0.6rem no-repeat,
				linear-gradient(#e5e5e5 0.6rem, transparent 0.6rem) 0 4.8rem / 85%
					0.6rem no-repeat,
				// Meta info - small line at bottom
				linear-gradient(#d0d0d0 0.5rem, transparent 0.5rem) 0 bottom / 40%
					0.5rem no-repeat;
		}
	}
}

@mixin articleCardListItem(
	$maxWidth: $contentWidthMd,
	$minWidth: $contentWidthMd,
	$aspectW: 16,
	$aspectH: 9
) {
	.article {
		@include base.article();

		.image {
			@include base.image($maxWidth, $minWidth);
			aspect-ratio: $aspectW "/" $aspectH;
		}

		.contentContainer {
			@include base.contentContainer(100%, 50%);

			.textContainer {
				@include base.textContainer();
				& {
					margin-top: 0;
					gap: 0;

					.title {
						@include textMixins.maxLines(1);
						font-size: clamp(1rem, 3cqi, 1.5rem);
						margin-bottom: 0;
					}

					.description {
						display: none;
						font-size: clamp(1rem, 3cqi, 1.2rem);
					}

					.title,
					.description {
						margin-left: $spacingXxs;
						margin-right: 0;
					}
				}
			}

			.meta {
				@include base.meta();
			}
		}
	}

	.template {
		width: 100%;
		// height: 4rem;

		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		background: white;

		// Image placeholder - left side with aspect ratio
		&::before {
			content: "";
			width: 8%;
			aspect-ratio: 16/9; // matches the default $aspectW/$aspectH
			background: #e0e0e0;
		}

		// Content area placeholder - right side (50%)
		&::after {
			content: "";
			display: block;
			width: 90%;
			padding: $spacingXxs;
			background: 
            // Title - single line only
				linear-gradient(#d0d0d0 0.4rem, transparent 0.4rem) 0 0.4rem / 80%
					0.4rem no-repeat,
				// Meta info - small line at bottom
				linear-gradient(#d0d0d0 0.3rem, transparent 0.3rem) 0 bottom / 30%
					0.3rem no-repeat;
		}
	}
}

@mixin clearArticle {
	.article {
		all: initial;
		* {
			all: unset;
		}
	}
}
