@mixin testArticle() {
	.article {
		// width: 400px;
		// height: 100%;
		min-height: 100%;

		background-color: white;
		.image {
			width: 400px;
			aspect-ratio: 16/9;
		}
		.container {
			.title {
				color: green;
			}
			.description {
				color: blue;
			}
			.meta {
				display: flex;
				gap: 1rem;
				.author {
					color: red;
				}
				.date {
					color: yellow;
				}
			}
		}
	}
}
