@use "../../../../../../scss/mixins/text/" as textMixins;
@use "../../../../../../scss/abstracts/units" as units;
@use "../../../../../../scss/abstracts/colours" as colours;
@use "../../../../../../scss/abstracts/font" as *;

// layout of these isn't likely to change across implementations
@mixin article() {
	display: flex;

	background-color: colours.$whiteSmoke;
	color: colours.$textColourDark;

	&:hover,
	&:focus {
		background-color: rgb(0, 0, 0, 0.1);
	}
}

@mixin image($maxWidth, $minWidth) {
	max-width: $maxWidth;
	min-width: $minWidth;
	width: 100%;
}

@mixin contentContainer($maxWidth, $minWidth) {
	// using containers like this might be unperformant
	container: content-container / inline-size;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	max-width: $maxWidth;
	min-width: $minWidth;
	width: 100%;
}

@mixin textContainer() {
	display: flex;
	flex-direction: column;
	height: 100%;

	.title {
		@include textMixins.maxLines(2);
		font-family: $component-title-font;
		font-weight: $title-font-weight;

		margin: units.$rem_1 units.$rem_0;

		font-size: clamp(1rem, 6cqi, 3.5rem);
	}
	.description {
		font-family: $text-font;
		font-weight: $text-font-weight;

		@include textMixins.maxLines(2);

		font-size: clamp(0.8rem, 4cqi, 2rem);
	}

	@container content-container (min-width: 15rem) {
		.title {
			@include textMixins.maxLines(2);
			margin: units.$rem_2 units.$rem_0;
		}
		.description {
			@include textMixins.maxLines(2);
		}
	}

	@container content-container (min-width: 20rem) {
		.title {
			@include textMixins.maxLines(2);
			margin: units.$rem_2 units.$rem_0;
		}
		.description {
			@include textMixins.maxLines(3);
		}
	}

	@container content-container (min-width: 24rem) {
		.title {
			margin: units.$rem_4 units.$rem_0 units.$rem_2;
			@include textMixins.maxLines(3);
		}
		.description {
			@include textMixins.maxLines(3);
		}
	}
}

// If we assume we only show two pieces of meta data
// We can use flex box to space them out
@mixin meta() {
	display: flex;
	justify-content: space-between;

	// For some reason a tiny gap is needed to prevent the last element from overflowing
	padding: units.$rem_2 units.$rem_1 units.$rem_2 units.$rem_0;
	font-size: smaller;
	font-style: italic;

	> * {
		@include textMixins.maxLines(1);
		max-width: 50%;
	}

	@container content-container (min-width: 20rem) {
		font-size: small;
	}
}
