@use "../../../../../../scss/abstracts/units/" as *;
@use "../../../../../../scss/mixins/ui/" as ui;

.root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: $spacingXxxl;
}

.item {
	@include ui.scrollYNoScroller();
	max-height: var(--component-height, 100%);

	@media screen and (max-width: $screenWidthSm) {
		max-height: 100%;
	}
}
