@use "../../scss/abstracts/colours/" as colours;
@use "../../scss/abstracts/ui/" as ui;
@use "../../scss/abstracts/units/" as *;
@use "../../scss/abstracts/font/" as *;

.root {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: $spacingLg 0;

	border-bottom: ui.$divider;

	.datatattat {
		color: colours.$logoDark;
		font: $titleXl;
	}

	.homeContainer {
		display: inline-flex;
		justify-content: center;
		padding: $spacingXs;
		border-radius: 50%;
		.logo {
			color: colours.$logoDark;
			font-size: $title-md;
		}
		&:hover,
		&:focus {
			background-color: colours.$shadowLight1;
		}
	}

	.simpleButton {
		display: flex;
		align-items: center;
		padding: $spacingXs;
		border-radius: 50%;

		cursor: pointer;

		.logo {
			font-size: $title-md;
			color: colours.$textColourDark;
		}
		p {
			color: colours.$textColourDark;
		}
		&:hover {
			background-color: colours.$shadowLight1;
		}
	}

	.menuContainer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: $spacingXs;

		.image {
			display: inline-block;
		}

		.icon {
			display: none;
		}

		@media screen and (max-width: $screenWidthSm) {
			.image {
				display: none;
			}

			.icon {
				display: inline-block;
			}
		}
	}

	.logoContainer {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
