@use "../../scss/abstracts/colours/" as colours;

.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;

	border-bottom: 1px solid colours.$shadowLight2;

	.logo {
		color: colours.$logoDark;
	}

	//
	.simpleButton {
		// background-color: colours.$white;
		color: colours.$logoDark;
		padding: 0.5rem 1rem;
		border-radius: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		p {
			color: colours.$textColourDark;
		}
	}
}
