@use "../../../scss/abstracts/units/" as *;
@use "../../../scss/abstracts/font/" as *;
@use "../../../scss/abstracts/colours/" as *;

.root {
	display: flex;

	.title {
		font-size: $page-title-sm;
		font-family: $page-title-font;
		color: $titleColourDark;

		justify-content: left;

		@media screen and (min-width: $screenWidthSm) {
			font-size: $page-title-md;
		}

		@media screen and (min-width: $screenWidthMd) {
			font-size: $page-title-lg;
		}
	}
}
