@use "../../../scss/abstracts/units/" as *;
@use "../../../scss/abstracts/font/" as *;
@use "../../../scss/abstracts/colours/" as *;

.root {
	display: flex;

	.title {
		font: $titleSm;
		font-family: $text-font;
		color: $titleColourDark;
		padding: $spacingXxs 0 $spacingXxs;

		justify-content: left;

		@media screen and (min-width: $screenWidthSm) {
			font: $titleMd;
			padding: $spacingXs 0 $spacingXs;
		}

		@media screen and (min-width: $screenWidthMd) {
			font: $titleXl;
			padding: $spacingSm 0 $spacingSm;
		}
	}
}
