@use "../../scss/abstracts/units/" as *;
@use "../../scss/abstracts/colours/" as *;

.root {
	color: $darkGrey;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: $spacingXxxl;

	.icon {
		color: $darkGrey;
		font-size: $spacingXxxl;
	}

	@media screen and (min-width: $screenWidthMd) {
	}
}
