@use "../../scss/abstracts/units/" as *;
@use "../../scss/abstracts/colours/" as *;
@use "../../scss/abstracts/font/" as *;

.root {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: $spacingXxxl;

	.icon {
		font: $titleXl3;
		color: $text;
	}

	@media screen and (min-width: $screenWidthMd) {
	}
}
