@use "../../scss/abstracts/units/" as *;
@use "../../scss/abstracts/font/" as *;
@use "../../scss/abstracts/ui/" as *;

.root {
	padding: $rem_6 $rem_0;
	font-family: $text-font;

	.divider {
		border-top: $divider;
	}

	.container {
		padding-block: $rem_6;
	}
}
