@use "../../scss/abstracts/units/" as *;
@use "../../scss/abstracts/font/" as *;
@use "../../scss/abstracts/ui/" as *;

.root {
	padding: $spacingXxxl 0;
	font-family: $text-font;

	.divider {
		border-top: $divider;
	}

	.container {
		padding-block: $spacingXxxl;
	}
}
