@use "../../../scss/abstracts/units/" as *;
@use "../../../scss/abstracts/colours/" as *;
@use "../../../scss/abstracts/font/" as *;

$track-width: 44px;
$track-height: 24px;
$thumb-size: 18px;
$thumb-offset: ($track-height - $thumb-size) * 0.5;

.wrapper {
	display: flex;
	align-items: center;
	gap: $spacingSm;
}

.label {
	font-size: $text-md;
	user-select: none;
}

.track {
	position: relative;
	display: inline-block;
	width: $track-width;
	height: $track-height;
	border-radius: $track-height;
	background-color: $background-dark;
	transition: background-color 0.2s;
	cursor: pointer;

	&:has(input:checked) {
		background-color: $cta-primary;
	}

	&:has(input:focus-visible) {
		outline: 2px solid $cta-primary;
		outline-offset: 2px;
	}
}

.input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.thumb {
	position: absolute;
	top: $thumb-offset;
	left: $thumb-offset;
	width: $thumb-size;
	height: $thumb-size;
	border-radius: 50%;
	background-color: $background-main;
	transition: transform 0.2s;

	.track:has(input:checked) & {
		transform: translateX($track-width - $thumb-size - $thumb-offset * 2);
	}
}
