@use "../../../scss/abstracts/units/" as *;

.root {
	display: flex;
	gap: $spacingMd;

	.image {
		width: 100px;
	}
	.content {
		display: flex;
		flex-direction: column;
		gap: $spacingXs;

		.name {
		}
		.email {
		}
		.role {
			margin-top: auto;
		}
	}
}
