@use "../../article/mixins/" as article;
@use "../../../../../../scss/abstracts/units/" as *;
@use "../../../../../../scss/mixins/ui/" as ui;

.root {
	display: flex;
	gap: $spacingMd;

	@include ui.scrollXNoScroller();

	@include article.articleCardTopDown($contentWidthMd, $contentWidthMd);

	@media screen and (min-width: $screenWidthSm) {
		@include article.articleCardTopDown($contentWidthXl, $contentWidthXl);
	}

	@media screen and (min-width: $screenWidthMd) {
		@include article.articleCardTopDown($contentWidthXl2, $contentWidthXl2);
	}

	.templateArticle {
		@include article.articleCardTopDownTemplate(
			$contentWidthMd,
			$contentWidthMd
		);

		@media screen and (min-width: $screenWidthSm) {
			@include article.articleCardTopDownTemplate(
				$contentWidthXl,
				$contentWidthXl
			);
		}

		@media screen and (min-width: $screenWidthMd) {
			@include article.articleCardTopDownTemplate(
				$contentWidthXl2,
				$contentWidthXl2
			);
		}
	}
}
