@use "../../../../../../scss/abstracts/units/" as *;
@use "../../article/mixins/" as article;

.template {
	@include article.articleCardTopDownTemplate($contentWidthMd, $contentWidthMd);

	@media screen and (min-width: $screenWidthSm) {
		@include article.articleCardTopDownTemplate(
			$contentWidthXl,
			$contentWidthXl
		);
	}

	@media screen and (min-width: $screenWidthMd) {
		@include article.articleCardTopDownTemplate(
			$contentWidthXl2,
			$contentWidthXl2
		);
	}
}
