@use "../../../scss/abstracts/colours/" as colours;
@use "../../../scss/abstracts/units/" as *;

.root {
	border-radius: 10%;
	padding: $spacingLg $spacingXs;

	text-transform: uppercase;
	white-space: nowrap;
	p {
		color: colours.$textColourDark;
	}

	&:hover,
	&:focus-visible {
		background-color: colours.$shadowLight0;
	}
}
