@use "../../../scss/abstracts/colours/" as *;
@use "../../../scss/abstracts/units/" as *;
@use "../../../scss/abstracts/font/" as *;

.root {
	border-radius: 10%;
	padding: $spacingLg $spacingXs;

	text-transform: uppercase;
	white-space: nowrap;
	p {
		color: $text;
	}

	&:hover,
	&:focus-visible {
		background-color: $shadowLight0;
	}
}
