@use "../../../scss/abstracts/colours/" as colours;
@use "../../../scss/abstracts/units/" as units;

.root {
	border-radius: 10%;
	padding: units.$rem_2 units.$rem_2;

	text-transform: uppercase;
	white-space: nowrap;
	p {
		color: colours.$textColourDark;
	}

	&:hover,
	&:focus-visible {
		background-color: colours.$shadowLight0;
	}
}
