@use "../../../scss/abstracts/colours/" as colours;
@use "../../../scss/mixins/ui/" as uiMixin;
@use "../../../scss/abstracts/ui/" as ui;
@use "../../../scss/abstracts/units/" as units;

.root {
	display: flex;
	gap: units.$rem_4;

	overflow-x: auto;

	@include uiMixin.scrollXNoScroller();
}
