@use "../../../scss/abstracts/colours/" as colours;
@use "../../../scss/mixins/ui/" as ui;

.root {
	display: flex;
	justify-content: center;
	gap: 1rem;

	border-bottom: 1px solid colours.$shadowLight2;

	overflow-x: auto;

	@include ui.scrollXNoScroller();
}
