@use "../../../scss/abstracts/colours/" as colours;
@use "../../../scss/mixins/ui/" as uiMixin;
@use "../../../scss/abstracts/ui/" as ui;
@use "../../../scss/abstracts/units/" as *;

.root {
	display: flex;
	gap: $spacingMd;

	overflow-x: auto;

	@include uiMixin.scrollXNoScroller();
}
