@use "../../../scss/abstracts/colours/" as *;
@use "../../../scss/abstracts/units/" as *;
@use "../../../scss/abstracts/font/" as *;

.container {
	display: flex;
}

.form {
	display: flex;
	flex-direction: column;
	padding: $spacingXs;
	background-color: $background-light;
	border-radius: 5%;
	box-shadow: $shadowLight1;

	.inputContainer {
		display: flex;
		align-items: center;

		.route {
			width: 100%;
		}

		.input {
			background-color: $background-main;
		}
	}

	.warn {
		color: $error;
		font-style: italic;
		margin-top: $spacingXxs;
	}
}

.menuButton {
	border: none;
	background-color: unset;
	cursor: pointer;
	padding: $spacingXs;
	border-radius: 5%;

	.logo {
		font-size: $title-md;
		color: $text-sharp;
	}

	&:hover {
		background-color: $shadowLight1;
	}
}
