@use "../../../scss/abstracts/colours/" as *;
@use "../../../scss/abstracts/units/" as *;

.container {
	display: flex;
}

.form {
	display: flex;
	flex-direction: column;
	padding: $rem_2;
	background-color: $whiteSmoke;
	border-radius: 5%;
	box-shadow: $shadowLight1;

	.inputContainer {
		display: flex;
		align-items: center;

		.route {
			width: 100%;
		}

		.input {
			background-color: $whiterSmoke;
		}
	}

	.warn {
		color: $error;
		font-style: italic;
		margin-top: $rem_1;
	}
}

.menuButton {
	border: none;
	background-color: unset;
	cursor: pointer;
	padding: $rem_2;
	border-radius: 5%;

	.logo {
		font-size: $text_6;
		color: $textColourDark;
	}

	&:hover {
		background-color: $shadowLight1;
	}
}
