@use "../../../scss/abstracts/colours/" as colours;
@use "../../../scss/abstracts/units/" as *;

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: $spacingXs $spacingXs;
	margin-bottom: $spacingXs;
	border-radius: 10%;
	background-color: colours.$shadowLight0;

	h3 {
		padding: $spacingXs $spacingXs;
		color: colours.$textColourDark;
	}
}

.list {
	display: flex;
	flex-direction: column;
}

.listItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.link {
	// border-radius: 10%;
	padding: $spacingXs $spacingXs;
	width: 100%;

	p {
		color: colours.$textColourDark;
	}

	&:hover,
	&:focus-visible {
		background-color: colours.$shadowLight1;
	}
}
