@use "../../scss/abstracts/units/" as *;
@use "../../scss/abstracts/colours/" as *;
@use "../../scss/abstracts/font/" as *;

.button {
	// probably excessive!!
	display: flex;
	justify-content: center;
	gap: $spacingXs;

	background-color: $background-light;
	border: none;
	color: $text-sharp;
	padding: $spacingSm $spacingXl;
	text-align: center;
	text-decoration: none;

	font-size: $text-md;
	cursor: pointer;
	border-radius: $spacingXxs;
	transition: background-color 0.3s;

	&:hover {
		background-color: $shadowLight1;
	}

	&:disabled {
		background-color: $shadowLight2;
		color: $text-muted;
		cursor: not-allowed;
	}
}
