@use "../../scss/abstracts/units/" as *;
@use "../../scss/abstracts/colours/" as *;
@use "../../scss/abstracts/font/" as *;

.icon {
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;

	color: $text;
	font: $titleMd;
	cursor: pointer;
	padding: $spacingXs;
	border-radius: 50%;

	height: $spacingXxxl;

	&:hover,
	&:focus {
		background-color: $shadowLight1;
	}
}
